html {
  background-color: #000;
  color: #fff;
}

p {
  margin: 0;
}

#terminal {
  width: 80%;
  margin-left: 10%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

#currentline {
  display: flex;

}

#terminalinput {
  margin-left: 2%;
  height: 70%;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  width: 80%;
}

.accented {
  color: #3ab70c;
}

input[type='text'] {
  font-family: sans-serif;
}
